
.home {
    /* background-image: url("/public/assets/bg.jpg"); */
    background-color: #4A5B7E;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
}